@tailwind base;
@tailwind components;
@tailwind utilities;

.nav{
    background: #37383724;
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 4px );
}

.icon{
    transition: 200ms all ease-in-out;
}

.icon:hover{
    color: #EFFE0B !important;
    transform: translateY(-5px);

}

.list::after{
    content: "";
    height: 90px;
    width: 1px;
    display: block;
    background-color: white;
    margin: 0 auto;
}

.email-side {
    display: flex;
    margin-right: -80px;
}

.email-side a:hover{
    transform: translateX(5px);
}

.email-side::before{
    content: "";
    height: 1px;
    width: 90px;
    display: block;
    background-color: white;
    margin: auto;
}

@layer utilities{
    .animation-delay-2000{
        animation-delay: 2s ;
    }
    .animation-delay-4000 {
        animation-delay: 4s;
    }

    .animation-delay-1000 {
        animation-delay: 1s;
    }
}

.grads{
    background: #FC466B;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3F5EFB, #FC466B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}