@import "../variables";
.nav{
  color: white;
  .container{
    width: 90%;
    margin: auto;
    margin-top: 50px;
    padding: 20px 0;
    color: white;
    font-family: $font-primary;
    display: flex;
    justify-content: space-between;
  }
  h1{
    font-size: 1.5rem;
    font-weight: 500;
  }
  ul{
    display: flex;
    justify-content: space-between;
  }
  li{
    margin-inline: 20px;
  }
}